/.idea/*

/back/.idea/*
/back/Include/*
/back/Lib/*
/back/Scripts/*
/back/tcl/*

/back/app/api/__pycache__/*
/back/app/api/migrations/__pycache__/*
/back/app/app/__pycache__/*

/back/app/api/sql_views.py

/front/*

/diagram.pdf
